.container {
  :global .ant-pro-form-login-page-desc {
    color: rgb(255, 255, 255, 0.65);
  }
  :global .ant-pro-form-login-page-title {
    color: #fff;
  }
  :global .ant-tabs-tab-btn {
    color: rgb(255, 255, 255, 0.88);
  }
}

.loginTypeTabs:has(:global(.ant-tabs-tab)) {
  display: block;
}

.loginTypeTabs {
  display: none;
}

.lang {
  width: 100%;
  height: 40px;
  line-height: 44px;
  text-align: right;
  :global(.ant-dropdown-trigger) {
    margin-right: 24px;
  }
}

.oauthIcon {
  width: 60px;
  height: 60px;
}

.oauthButton {
  width: 100%;
  margin-top: 10px;
  background-color: gainsboro;
}

.oauthIconButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-color: #fff;
  border: 1px solid rgb(212, 216, 221);
  border-radius: 20%;
  cursor: pointer;
}

.oauthIconButton:hover {
  box-shadow: 0 0 20px #c7c7c7;
}

:global(.ant-pro-form-login-logo) {
  width: unset !important;
  img {
    height: 44px;
  }
}

.loginByOtherBtn {
  float: right;
  margin-top: 30px;
}
